/*==========================================================================================*/
/* Navbar container */
/*==========================================================================================*/

.navbar {
    overflow: hidden;
    background-color:#221D5C;
    font-family: Arial;
    padding-top:15px;
  }
  
  /* Links inside the navbar */
  .navbar a {
    font-size: 15px;
    text-align: center;
    color:#F2F0DF; /* Text color */
    /* padding: 14px 16px; */
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
      
    width: 50%;
    float: right;
    position: inherit;
    padding: 1px;
    overflow: hidden;
    z-index: 1;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    float: right;  /* Places "search" on the right end of navbar. */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    width: 10%;
    font-size: 15px;
    border: none;
    outline: none;
    color: white;
    text-align: center;
   
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    color:#F2F0DF; /* Text color */
    display: none;
    position: absolute;

    background-color:#221D5C;
    /* min-width: 100px; */
    padding: 5px;
   
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    
    /* float: bottom;  */
    color: black; 
    padding: 1px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .spacingTitle{ 
      padding-top: 10px;
      padding-bottom: 10px;
  }

  .spacingContainer{ 
    padding-top: 15px;
    padding-bottom: 15px;
}

  /* table, th, td {
    border: 1px solid black;
  } */

  .columns {
    font-size: 15px;
    float: left;
    padding: 5px;
    columns: 150px 3;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: block;
    clear: both;
  }

/*==========================================================================================*/
/* Navbar right corner -> Search bar with a dropdown button next to it  */
/*==========================================================================================*/
/* The dropdown container */
.InsideSearch_menu-btn {
  background-color: #221D5C;
  color: white;
  padding: 15px;
  font-size: 15px;
  /* font-weight: bolder; */
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  border: none;
}
.InsideSearch_dropdown-menu {
  position: relative;
  display: inline-block;
}
.InsideSearch_menu-content {
  display: none;
  position: absolute;
  /* background-color: #017575; */
  width: 50%;
  z-index: 1;
}
.InsideSearch_links {
  /* color: rgb(255, 255, 255); */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid black;
}
/* .InsideSearch_links:hover {
  background-color: rgb(8, 107, 46);
} */
/* .InsideSearch_dropdown-menu:hover .menu-btn {
  background-color: #3e8e41;
} */

/*==========================================================================================*/
/* PUSHING DOWN CONTENT AS OPEN @ Navbar right corner -> Search bar with a dropdown button   */
/*==========================================================================================*/
.accordion {
  background-color: rgba(179, 179, 179, 0.3);
  color: grey;
  cursor: pointer;
  padding: 15px;
  width: fixed;
  /* position: inherit; */
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  background-clip: border-box;  
}

.Accordian_Active, .accordion:hover {
  background: rgba(179, 179, 179, 0.3);
}

.Accordian_Panel {
  padding: 5px;
  display: none;
  width: fixed;
  /* background: rgba(179, 179, 179, 0.3); */
  overflow: hidden;
  /* background-clip: border-box;   */
}

.Accordion:after {
  /* content: '\002B'; */
  /* background: rgba(179, 179, 179, 0.3); */
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.Accordian_Active:after {
  /* content: "\2212"; */
  background: rgba(179, 179, 179, 0.3);
}

/* Background of above search */
.AdvSearch_Background {
  /* border: 10px dotted black; */
  /* width: 500px; */
  padding: 5px;
  background: rgba(179, 179, 179, 0.3);
  background-clip: content-box;  
  border-radius: 15px;
}






/*==========================================================================================*/
/* Checkbox Filter selections Inside dropdown menu */
/*==========================================================================================*/
#checkboxes{
    /* display: none; */
    border: 1px #dadada solid;
}
  

 /* .multiselect{
    width: 25%;
} 


.selectBox{
    position: relative;
}

.selectBox select{
    width: 100%;
    font-weight:bold;
}

.overSelect{
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
}

#checkboxes{
    display: none;
    border: 1px #dadada solid;
}

#checkboxes label{
    display: block;
}

#checkboxes label:hover{
    background-color: grey;
} 
*/


/*==========================================================================================*/
/* Recently Used PLug-ins Table */
/*==========================================================================================*/
.RUT_dropbtn {
    background-color: rgb(255, 250, 204);
    color:black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .RUT_dropbtn:hover, .RUT_dropbtn:focus {
    background-color: #2980B9;
  }

  .RUT_dropdown {
    position: relative;
    display: inline-block;
  }
  
  .RUT_dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    /* width: 90%; */
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  .RUT_dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    
  }
  
  .RUT_dropdown a:hover {background-color: #ddd;}
  
  .RUT_show {display: block;}


  .setRUT_width{
    width: 5000px;
    
  }

  .setRUT_pads{
    padding:25px;
  }

 
/*====================================================================================================*/
/* Drop Down animation.
/*====================================================================================================*/
/* body {
  background-color:#FFF;
  font:13px Sans-Serif;
} */



ul {
  position:relative;
  margin:0;
  padding:0;
}
#menu {
  width:auto;
  float:left;
  font-weight:bold;
  cursor:pointer;
  background-color: rgb(255, 250, 204);
  border-radius:5px;
  
  -moz-border-radius:2px; 
  -webkit-border-radius:2px;
}
#menu ul {
  
  display:table;
  line-height:10px;
}
#menu ul li {
  position:relative;
  display:inline;
  
  
}
#menu ul li a {
  
  float:left;
  position:relative;
  padding:20px;
  color:black;
  text-decoration:none;
}
#menu ul li a:hover {
  background:#2980B9;
}
#menu ul ul {
  
  position:absolute;
  /* width:210px; */
  top:50px;
  left:-370px;       /* CHROME, SAFARI */
  -webkit-transform:translateX(232px);     /* CHROME SAFARI */
  -moz-transform:translateX(135px);       /* FIREFOX */
  
  /* BACKGROUND COLOR AND BORDER. */
  background:rgb(255, 250, 204);
  border-radius:2px;
  -moz-border-radius:2px; 
  -webkit-border-radius:2px;

  /* ADD BORDER SHADOW. */
  box-shadow:0 0 10px #444;
  -moz-box-shadow:0 0 10px #444;
  -webkit-box-shadow:0 0 10px #444;
}

/* SUB MENU LIST */
#menu ul ul li {
  text-align:left; 
  margin:0;
}

/* SET HEIGHT AS '0', SO THE SUBMENUS REMAINS HIDDEN IN THE BEGINNING. */

#menu ul ul li a {
  
  height:0; 
  line-height:0; 
  width:800px; 
  border-color:black;
  color:black;
  padding:0 20px;
  -moz-opacity: 0;
  opacity:0;
  filter: alpha(opacity=0); 
}

#menu ul ul ul {
  visibility:hidden;
  position:absolute;
  top:175px;
}
#categories a {
transition:all 0.3s linear; 
-o-transition:all 0.3s linear;
-moz-transition:all 0.3s linear; 
-webkit-transition:all 0.3s linear;
}

#categories:hover ul li a {
  height:40px;
  line-height:40px;
  -moz-opacity: 1;
  opacity:1;
  filter: alpha(opacity=100);
}

#menu #categories #da > ul {
  transition:opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
  -o-transition:opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
  -moz-transition:opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
-webkit-transition:opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
}
#menu #categories #da:hover > ul {
  visibility:visible;
  position:absolute;
  left:-232px;                             /* CHROME, SAFARI */
  -moz-transform:translateX(232px);       /* FIREFOX */
}

















/* Previous Code */
h1{
    color: rgb(204, 153, 0);
}

body{
  
    /* background-color: #FFFACC; */
    /* background: rgba(255, 253, 238, 0.9); */
    background-color: rgb(255, 250, 204);
    
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: lightgray;
}

.a {
    background-color: #FFFFE0;
  
}

.a:hover{
    background-color: #FFFF00;
}

.text{
    padding: 10px;
    color: darkblue;
    font-size: 20px;
}

#myBtn{
    padding: 15px 65px;
    background-color: rgb(224, 229, 255); /* Green */
    border: none;
    color: black;
    border-radius: 8px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
/* .fill{
    text-align: center;
    position: relative;
    height: 300px;
    width: 300px;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.empty{
    display: inline-block;
    height: 160px;
    width: 160px;
    margin: 10px;
    border: 3px black;
    background-color: white;

}

.hold{
    border: solid #ccc 4px; 
}

.hovered{
    background: #f4f4f4;
    border-style: dashed;
}

.invisible{
    display: none; 
} */


.file_drag_area{
    display: inline-block;
    margin: 50px 10px 10px 10px ; 
    width: 150px;
    height: 150px;
    border: 2px dashed #ccc;
    color: #ccc;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 50px;
    text-align: left; 
}



.empty{
    display: inline-block;
    margin: 50px 10px 10px 10px ; 
    width: 150px;
    height: 150px;
    border: 2px dashed #ccc;
    color: #ccc;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 50px;
    text-align: left; 
    overflow:scroll;
    scrollbar-base-color:black;

}

.file_drag_over{
    border-color: #000;
    color: #000;
}


#file{
    overflow: scroll;
    scrollbar-base-color:black;
    text-align: left;
    font-family: sans-serif;
    font-size: 14px;
    color: black;
}

#custom-button{
    padding: 3px;
    color:white;
    background-color: black;
    border: 1px solid #000;
    border-radius:1px;
    margin: 10px;
    cursor: pointer; 
}

#custom-text{
    margin-left: 0px;
    font-size: 10pt;
    font-family:sans-serif;
    color: black;
}

.save{
    background-color: green; 
    border: none;
    color: white;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 6px 4px;
    cursor: pointer;
    border-radius: 10px;

}

#trash img{
    margin-right:30px;
    height:75px;
    width:75px;
    float:right;
}

/* Input/output file upload buttons *Bhavyta */
#custom-IFB {
    position: relative;
    right: 8px;
    bottom: 54px;
    margin-inline-start: 8px;
    padding: 10px;
    color: white;
    background-color: #00b0b3;
    cursor: pointer; 
    border: none;
    border-radius: 8px;
}

#custom-IFB:hover {
    background-color: #00e2e6;
}

#custom-IFB-text {
    position: relative;
    right: 8px;
    bottom: 54px;
    margin-inline-start: 8px;
    font-family: sans-serif;
    font-size: 14px;
    color: black;
}

#custom-OFB {
    position: relative;
    left: 8px;
    bottom: 54px;
    padding: 10px;
    color: white;
    background-color: #00b0b3;
    cursor: pointer; 
    border: none;
    border-radius: 8px;
}

#custom-OFB:hover {
    background-color: #00e2e6;
}

#custom-OFB-text {
    position: relative;
    left: 8px;
    bottom: 54px;
    font-family: sans-serif;
    font-size: 14px;
    color: black;
}

/* #upload-input-file{
    display: inline-block;
}

#upload-output-file{
    display: inline-block;
} */

/* Arrows */
.arrow-right {
    position: relative;
    bottom: 50px;
}

.optionBox {
    display: inline-block;
}
